<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> Journal</title>
    <link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
    <div>
        <h1><%= title %> Journal Entries</h1>
        <div class="container">
            <% if (items.length > 0) {items.forEach(function(item) { %>
                <div class="item">
                    <img src="<%= item.user.img %>" alt="">
                    <div class="info">
                        <p class="heading"><b><%= item.user.username %></b> is feeling <%= item.mood %>.</p>
                        <p><%= item.note %></p>
                    </div>
                </div>
            <% })} else { %>
                <h2 style="text-align: center;">No Entries Found</h2>
                <% }; %>
        </div>
    </div>
    <footer>
        <a href="/users">Users</a>
        <a href="/moods">Moods</a>
        <a href="/journal">Journal</a>
    </footer>
</body>
</html>