<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
    <link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
    <header>
        <a href="/users">Users</a>
        <a href="/moods">Moods</a>
        <a href="/journal">Journal</a>
    </header>
    <div class="main">
        <h1>Account</h1>
        <div class="container">
            <div class="item">
                <img src="<%= user.img %>" alt="">
                <div class="info">
                    <h2>Name: <%= user.name %></h2>
                    <p id="usernameEl">Username: <%= user.username %></p>
                    <p>Email: <%= user.email %></p>
                    <button class="editInfo" onclick="editUser(<%= user.id %>)">Change Username</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function editUser(userId) {
            console.log(userId)
            let newUsername = "thisIsANewUsername"
            fetch(`/users/${userId}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: newUsername
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById("usernameEl").innerText = `Username: ${newUsername}`
                    console.log("success")
                } else {
                    console.error('Failed to edit user');
                }
                })
                .catch(err => console.error(err));
        }
    </script>
</body>
</html>